<footer class="footer">
    <div id="quote-wrapper" style="cursor: pointer; user-select: none">
        <small>
            <em><span id="quote"></span></em>
        </small>
    </div>
    {{if or (.Site.Params.footer.trademark) (.Site.Params.footer.author) (.Site.Params.footer.copyright) (.Site.Params.footer.rss) (.Site.Params.footer.topText) }}
    <div class="footer__inner">
        <div class="footer__content">
            {{ if .Site.Params.footer.trademark }}<span>{{ now.Format "2006" }}</span>{{ end }}
            {{ if .Site.Params.footer.author }}<span><a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a></span>{{ end }}
            {{ if .Site.Params.footer.rss }}<span><a href="{{ "posts/index.xml" | absLangURL }}" target="_blank" title="rss"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rss"><path d="M4 11a9 9 0 0 1 9 9"></path><path d="M4 4a16 16 0 0 1 16 16"></path><circle cx="5" cy="19" r="1"></circle></svg></a></span>{{ end }}
            {{ range .Site.Params.footer.topText }}<span>{{ . | safeHTML}}</span>{{ end }}
        </div>
    </div>
    {{ end }}
    {{with .Site.Params.footer.bottomText}}
    <div class="footer__inner">
        <div class="footer__content">
            {{ range . }}<span>{{ . | safeHTML}}</span>{{ end }}
        </div>
    </div>
    {{ end }}
</footer>

<script module>
    // Hello source-code explorer! Hope you are having a good day :D
    const quotes = [
    "You will outgrow your usefulness.",
    "You are number 6! Who is number one?",
    "Q: What's tiny and yellow and very, very, dangerous? A: A canary with the super-user password.",
    "You are as I am with You.",
    "Your motives for doing whatever good deed you may have in mind will be misinterpreted by somebody.",
    "Are you sure the back door is locked?",
    "You get along very well with everyone except animals and people.",
    "Best of all is never to have been born. Second best is to die soon.",
    "Make a wish, it might come true.",
    "You are currently going through a difficult transition period called `Life`",
    "You are confused; but this is your normal state.",
    "Expect the worst, it's the least you can do.",
    "You'll never see all the places, or read all the books, but fortunately, they're not all recommended.",
    "Try to relax and enjoy the crisis.",
    "Beware there is someone behind you.",
    "Don't Worry, Be Happy.",
    "You'd like to do it instantaneously, but that's too slow.",
    "You can rent this space for only $5 a month. :D",
    "We do not follow maps to buried treasure, and X never, ever marks the spot.",
    "You cannot achieve the impossible without attempting the absurd.",
    "What you are is what you have been. What you'll be is what you do now. ― Buddha",
    "Fine day to work off excess energy. Steal something heavy.",
    "Avoid reality at all costs.",
    "Cogito ergo doleo. (I think, therefore I am depressed.)",
    "Brain fried -- core dumped",
    ":(){ :|:& };:",
    ">>>import this",
    "Don’t worry if it doesn’t work right. If everything did, you’d be out of a job.",
    "In order to understand recursion, one must first understand recursion.",
    "There's a bug somewhere in your code.",
    "Q. How many programmers does it take to change a light bulb?\nA. None. It's a hardware problem.",
    "“Before software can be reusable it first has to be usable.”",
    "“Experience is the name everyone gives to their mistakes.” – Oscar Wilde",
    "“The most disastrous thing that you can ever learn is your first programming language.” ― Alan Kay",
    "A computer program does what you tell it to do, not what you want it to do.",
    "God is real, unless declared integer.",
    "Linux is only free if your time has no value.",
    "Deliver yesterday, code today, think tomorrow.",
    "It is a miracle that curiosity survives formal education. - Albert Einstein",
    "You're bound to be unhappy if you optimize everything. - Donald E. Knuth",
    "“Don't Panic.”",
    "42"
    ];

    const el = document.getElementById("quote");

    function randomize() {
        const index = Math.floor(Math.random() * quotes.length);
        el.innerHTML = quotes[index];
    }

    document.getElementById("quote-wrapper").addEventListener("click", randomize);
    randomize();
</script>

